.content {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    overflow: hidden;
    z-index: 9;
    margin-bottom: 50px;
}

.modal.bottom-sheet {
    max-height: 80%;
}

.secondary-content-down {
    position: absolute;
    bottom: 5px;
    right: 16px
}