<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="static-content">

    <!-- Materialize CSS -->
    <link th:href="@{/webjars/materializecss/0.97.0/css/materialize.min.css}" rel="stylesheet"/>

    <!-- JQuery UI CSS -->
    <!--<link th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}" rel="stylesheet"/>-->

    <!-- JQuery -->
    <script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>

    <!-- JQuery UI -->
    <!--<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>-->

    <!-- Materialize JS -->
    <script th:src="@{/webjars/materializecss/0.97.0/js/materialize.min.js}"></script>

</head>

<body>
</body>

</html>